/* Contenedor */
.item-detail-container {
    min-height: calc(100vh - 84px);
    width: 90%;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-block: 2rem;
    gap: 1.5rem;
}

.book-title-container {
    padding-bottom: 0.5rem;
    margin-bottom: 1.3rem;
    margin-inline: auto;
    width: 90%;
    border-bottom: 1px solid rgba(195, 190, 190, 0.359);
}

.book-title-details {
    font-family: var(--title-serif);
    font-size: 2.3rem;
    font-style: italic;
    margin-bottom: 5px;
}

.book-details {
    /* min-height: 85vh; */
    width: 100%;
    margin-inline: auto;
    /* padding-block: 2.8rem; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
}

.book-img-container-details {
    width: 33%;
    min-width: 295px;
    background-color: hsl(184, 38%, 72%);
    padding-block: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.book-img-container-details img {
    width: 47%;
    min-width: 200px;
    max-width: 240px;
    object-fit: cover;
    box-shadow: 7px 9px 10px 0px rgba(0,0,0,0.25);
}

.book-info-container {
    width: 45%;
    min-width: 300px;
    font-family: var(--body-font);
}

.info-subcontainer {
    margin-bottom: 0.5rem;
}

.book-info-subtitle {
    font-size: 1.1rem;
}

.book-info-text {
    font-size: 0.95rem;
    line-height: 1.5rem;
}

.item-detail-oosm {
    margin-top: 1.5rem;
}

.prices-container {
    margin-block: 1.5rem;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.previous-book-price-details {
    font-size: 1.3em;
    color: #959da6;
    text-decoration: line-through;
    font-weight: 500;
}

.current-price-details {
    font-size: 1.4rem;
    color: var(--primary-color);
    font-weight: 700;
}



@media screen and (max-width: 1280px) {
    .book-img-container-details img {
        min-width: 225px;
    }
}

@media screen and (max-width: 1200px) {
    .book-title-container {
        width: 100%;
    }

}

@media screen and (min-height: 950px) {
    .item-detail-container {
        padding-top: 6rem;
        min-height:81vh;
        
    }
}

@media screen and (max-width: 1024px) {
    .book-img-container-details {
        width: 40%;
    }
}

@media screen and (max-width: 940px) {
    .book-title-details {
        font-size: 2rem;
    }

    .book-author-details, .book-genre-details {
        font-size: 0.9rem;
    }

    .book-info-subtitle {
        font-size: 1rem;
    }
    
    .book-info-text {
        font-size: 0.9rem;
        line-height: 1.3rem;
    }

    .previous-book-price-details {
        font-size: 1.1em;
    }

    .current-price-details {
        font-size: 1.4rem;
    }
}

@media screen and (max-width: 870px) {
    .book-img-container-details, .book-info-container {
        flex-grow: 1;
    }

    .book-details {
        gap: 2rem;
    }
}


@media screen and (max-width: 768px){
    .book-img-container-details img {
        min-width: 200px;
    }
}

@media screen and (max-width: 702px) {
    .book-details {
        gap: 0.9rem;
    }
}

@media screen and (max-width: 676px) {
    .item-detail-container {
        padding-block: 2rem;
    }

    .author-genre {
        text-align: center;
        display: flex;
        justify-content: space-around;
        border-bottom: 1px solid rgba(195, 190, 190, 0.359);
        border-top: 1px solid rgba(195, 190, 190, 0.359);
        margin-bottom: 0.9rem;
    }

    .prices-container {
        margin-block: 2rem;
    }
}

@media screen and (max-width: 426px) {
    .book-title-container, .book-info-container{
        padding-inline: 1rem;
    }

    .book-title-container {
        border: none;
        margin: 0;
    }

    .book-title-details {
        font-size: 1.7rem;
    }

    .book-img-container-details img {
        max-height: 320px;
    }
}

@media screen and (max-height: 640px) {
    .item-detail-container {
        padding-block: 1.5rem;
    }
}

