
.item-list-container {
    min-height: calc(100vh - 84.1px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-block: 2rem;
}

.item-list-container__title {
    width: 100%;
    text-align: center;
    font-family: var(--title-serif);
    font-size: 2.3rem;
    font-weight: 600;
    font-style: italic;
    text-transform: capitalize;
}

@media screen and (max-width: 768px) {
    .item-list-container__title {
        font-size: 2rem;
    }
} 

@media screen and (max-width: 425px) {
    .item-list-container__title {
        font-size: 1.8rem;
    }
} 
