.main {
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
  position: relative;
}

.overlay::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(51, 51, 51, 0.464);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(5px);
  z-index: 100;
}

.swal2-title {
  font-family: var(--title-sans-serif);
  font-size: 2rem;
  letter-spacing: 1.5px;
}

.swal2-html-container {
  font-family: var(--body-font);
  font-size: 1rem;
}

@media screen and (max-width: 426px) {
  .main {
    width: 100%;
  }
}