/* Footer */
.footer {
    height: 150px;
    padding: 30px 0;
    background-color: rgb(241, 241, 241);
    display: flex;
    align-items: center;
  }
  
  .footer-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
  }
  
  .footer p {
    font-family: var(--body-font);
    color: rgb(94, 94, 94);
  }
  
  .social-icons {
    display: flex;
    column-gap: 15px;
  }
  
  .social-link {
    background-color: rgb(116, 116, 116);
    text-decoration: none;
    color: rgb(241, 241, 241);
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 50%;
    font-size: 1.3rem;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease-in-out;
  }
  
  .social-link:hover {
    background-color: rgb(71, 71, 71);
  }

    
  .social-link .fa-instagram {
    font-size: 1.4rem;
  }
  
  /* End of Footer */

  @media screen and (max-width: 672px) {
    .footer-container {
      justify-content: center;
      row-gap: 20px;
    }
  
    .footer p {
      text-align: center;
      font-size: 0.9rem;
    }

    .social-link {
        width: 1.5rem;
        height: 1.5rem;
        font-size: 1.2rem;
        padding: 17px;
      }
  }