/* Mensaje Error de Carga */
.mensaje-error-carga {
    font-family: var(--body-font);
    font-size: 1.3rem;
    font-weight: 600;
    color: #959da6;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-block: auto;
    text-align: center;
  }
  
  .mensaje-error-carga p {
    margin-bottom: 5px;
  }